<% content_for :title, "Editing static page" %>

<h1>Editing static page</h1>

<%= render "form", static_page: @static_page %>

<br>

<div>
  <%= link_to "Show this static page", @static_page %> |
  <%= link_to "Back to static pages", static_pages_path %>
</div>
